
body{
	background: linear-gradient(to top, #555523 , #ffeef6);
	font-family: 'Lato', sans-serif;
	font-size: 1.3em;
	
	margin: 15px auto;
	padding: 20px;
	text-align: center;
	min-height: 50vh;
}

#selectTrack{
    font-family: 'Consolas', sans-serif;
	color: blue;
	font-size: 16;
    width: 60%;
    height: 5%;	
}

#SelectedRadio{
	background-color: #ffeef6;
	margin:10px auto;
	width: 63%;
	height: 5%;
	text-align: center;
}
#stream{
	font-family: 'DS-Digital';
	font-size: larger;
}

#contenido{
    position: relative;
}

#aditional{
    font-style: oblique;
    font-family: sans-serif;
    position: bottom;
    font-size: large;
}
#table{
	position: fixed;
}
.music1 > p{
	image-resolution: 10px;
	font-family: 'Times New Roman', Times, serif;
	font-style: oblique;
	font-size: medium;
	color: rgb(41, 61, 55);

}